@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 224 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 10% 10%;
    --primary: 210 90% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 9% 96%;
    --secondary-foreground: 224 10% 10%;
    --muted: 220 9% 96%;
    --muted-foreground: 220 9% 45%;
    --accent: 220 9% 96%;
    --accent-foreground: 224 10% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 210 90% 50%;
    --chart-1: 210 90% 50%;
    --chart-2: 220 13% 60%;
    --chart-3: 220 9% 80%;
    --chart-4: 20 80% 50%;
    --chart-5: 0 75% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 225 10% 8%;
    --foreground: 0 0% 98%;
    --card: 225 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 225 10% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 90% 58%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 10% 23%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 10% 23%;
    --muted-foreground: 210 5% 65%;
    --accent: 210 10% 23%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 23%;
    --input: 210 10% 23%;
    --ring: 210 90% 58%;
    --chart-1: 210 90% 58%;
    --chart-2: 0 0% 98%;
    --chart-3: 210 10% 23%;
    --chart-4: 20 80% 50%;
    --chart-5: 0 75% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
