@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  :root {
    --background: 220 20% 96%;
    --foreground: 220 10% 20%;
    --card: 220 20% 100%;
    --card-foreground: 220 10% 20%;
    --popover: 220 20% 100%;
    --popover-foreground: 220 10% 20%;
    --primary: 150 60% 45%;
    --primary-foreground: 150 20% 98%;
    --secondary: 220 15% 90%;
    --secondary-foreground: 220 10% 20%;
    --muted: 220 15% 92%;
    --muted-foreground: 220 10% 45%;
    --accent: 220 15% 90%;
    --accent-foreground: 220 10% 20%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 15% 88%;
    --input: 220 15% 90%;
    --ring: 150 60% 50%;
    --chart-1: 262 80% 50%;
    --chart-2: 220 15% 70%;
    --chart-3: 220 15% 50%;
    --chart-4: 20 80% 50%;
    --chart-5: 0 75% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 4%;
    --foreground: 210 20% 96%;
    --card: 240 5% 10%;
    --card-foreground: 210 20% 96%;
    --popover: 240 10% 4%;
    --popover-foreground: 210 20% 96%;
    --primary: 150 60% 50%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 5% 16%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 5% 16%;
    --muted-foreground: 220 10% 65%;
    --accent: 240 5% 16%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 16%;
    --input: 240 5% 16%;
    --ring: 150 60% 55%;
    --chart-1: 262 80% 58%;
    --chart-2: 210 20% 96%;
    --chart-3: 224 15% 25%;
    --chart-4: 20 80% 50%;
    --chart-5: 0 75% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .bg-primary-gradient {
    @apply bg-gradient-to-br from-sky-400 via-red-500 to-green-500;
  }
}
